@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#main-toolbar {
}

.mat-sidenav-container {
    flex: 1;
}

.mat-drawer {
    min-width: 20rem !important;
}
