###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea/

/angular/src/index.html
/angular/src/assets/icons/*.png
/angular/src/environments/api-config.ts
/angular/node_modules/*
/angular/src/manifest.json
/angular/yarn-error.log

/public/app/